<html>
    <head>
        <title>filtr</title>
        <link rel="stylesheet" type="text/css" href="static/main.css">
    </head>

    <body>
      <div id="header">
        FILTR
      </div>
      <div id="main">
        <div id="slogan">
          SMALLER SOCIAL CIRCLES. STRONGER CONNECTIONS.
        </div>
      </ul>
        <div id="buttonrow">
          <div class="button">
            {% if logout_url %}
                <a href="{{ logout_url }}">LOG OUT WITH GOOGLE</a>
            {% else %}
                <a href="{{ login_url }}">LOG IN WITH GOOGLE</a>
            {% endif %}
          </div>
          <div class="button">
            <a href="/listfollowers">FILTER YOUR TWITTER FOLLOWERS</a>
          </div>
        </div>
      </div>
    </body>

</html>
